/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-size: 100%;
    font-family: 'Peralta', cursive;

    background: linear-gradient(#ccccff, #6666ff);
}

h1 {
    color: #ffffff;
    text-align: center;
    padding: 2rem;
}

.ms_main-container {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
}

.ms_grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

/* MAIN */

.ms_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: calc((100% / 6) - 1rem);
    height: calc((80vw / 6) - 1rem);

    margin: 0.5rem;
    background-color: #888888;
    border:1px solid black;
    border-radius: 10px;
    padding: 0.3rem;
    z-index: 1;
}

.ms_cell.ms_bothzz {
    background-color: #bbbbff;
}

.ms_cell.ms_fizz {
    background-color: #ff0000;
}

.ms_cell.ms_buzz {
    background-color: #00ff00;
}

.ms_cell i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 4rem;
    color: #ffffff80;
    
    z-index: 2;
    
    animation-name: star-anim;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.ms_cell span.special {
    transform: rotate(-45deg);
    
    animation-name: text-anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    z-index: 3;
}

.ms_easter-egg {
    text-align: center;
}

.ms_easter-egg i  {
cursor: pointer;
}

.ms_easter-egg .ms_captain-fizz {
    text-align: center;
    margin-bottom: 2rem;
}

.ms_easter-egg .ms_captain-fizz audio {
    border-radius: 10px;
}

/* ANIMATIONS */

@keyframes star-anim {
    
    0% {
        transform: translate(-50%, -50%)rotate(0deg);
    }
    
    100% {
        transform: translate(-50%, -50%)rotate(360deg);
    }
}

@keyframes text-anim {
    
    0% {
        transform: rotate(-45deg)scale(1);
    }
    
    50% {
        transform: rotate(-55deg)scale(0.7);
    }
}